/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */

*{

    font-family: 'Work Sans', sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
.btn-primary{
             border-radius: 8px;
             background: #FF900E;
             color: #FFF;
             font-size: 1.25rem;
             padding: 20px 25px;
             border: 0;
             font-weight: 600px;
             cursor: pointer;
             margin-top: 20px;
             margin-bottom: 20px;
}

/* header section */
header{
    background: rgba(255, 144, 14, 0.10);

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;
}

/* banner section */


.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color: #131313;
}
.section-description{
    font-size: 1rem;
    color: #727272;
    font-weight: 400px;
   
    line-height: 26px;
}
/* .img{
    max-width: 1000px;
   
} */
.banner img{
    width: 80%;
   /* margin-top: 30px;
   margin-left: 100px;
   margin-bottom: 30px; */
   /* margin: 20px 110px; */
   display: flex;
   margin: auto;
   margin-bottom: 30px;
    
} 

main{
    max-width: 1100px;
    margin: 0 auto;
}

.teams-container{
    display: flex;
    /* grid-template-columns: repeat(2,1fr); */
 align-items: center;
 justify-content: space-around;
 margin-top: 50px;
}
.teams-img-ciontainer{

 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;

}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
    
}
.team-title{
    font-size: 2rem;
    padding-bottom: 20px;
}
.quick-list{
    color:#727272 ;
    font-weight: 500;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
.fact-container{
    margin-top: 100px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #Ff900E;
    text-align: center;
    padding: 50px 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
}
.facts-card-container .card-starts{
    font-size: 2.8rem;
    color: #424242;
}




@media screen and (max-width:576px) {
     header{
        padding: 25px;
     }
     nav{
        flex-direction: column;
     }
}

@media screen and (min-width:576px) and (max-width:960px) {
        nav{
            flex-direction: column;
        }
}